.default {
	&__title {
		@include general-title;
		color: $cor-primaria;
		&.smaller {
			font-size: 32px;
		}
		@include media(s) {
			text-align: center;
		}
	}
	&__desc {
		@include text;
	}
}

.header {
	padding: 17px 0px;
	&__container {
		@include container;
		@include media(s) {
			padding: 0 24px;
		}
		.button {
			&:hover {
				color: $neutro-50;
			}
		}
	}
	.navbar-nav {
		gap: 32px;
	}
	.navbar {
		padding: 0;
		.container-fluid {
			padding: 0;
		}
		.navbar-toggler {
			padding: 0px;
			outline: none;
			appearance: none;
			&:focus {
				border: none;
				outline: none;
				box-shadow: none;
			}
		}
		.navbar-toggler-icon {
			img {
				width: 32px;
				height: 32px;
			}
		}
	}
	.nav-link {
		color: #383838;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
	}
}
.hero {
	background: url("../assets/bg-hero.png?as=webp");
	background-size: 100%;
	.download-itens {
		display: flex;
		justify-content: center;
		gap: 24px;
		margin-top: 32px;
		flex-wrap: wrap;
	}

	&.app {
		background: #fff;
		.tag {
			background-color: #383838;
			margin: 0 auto;
			max-width: 130px;
			display: block;
			@include media(s) {
				margin: 0;
			}
			&__text {
				color: #fff;
				text-align: center;
			}
		}
		.hero__content {
			padding-top: 0;
		}
		.hero__title {
			color: #1464f5;
			margin: 32px 0;
			text-align: center;
			@include media(s) {
				text-align: left !important;
				font-size: 24px;
				line-height: 28px;
			}
		}
		.default__desc {
			color: #323232;
			max-width: 959px;
			margin: 0 auto;
			text-align: center;
			@include media(s) {
				text-align: left !important;
			}
		}
	}
	&__container {
		display: flex;
		padding: 80px 0px;
		justify-content: center;
		@include container;
		gap: 64px;
		color: $neutro-50;
		@include media(s) {
			flex-direction: column;
			padding: 20 24px 60px;
		}
	}
	&__form {
		padding: 64px;
		background-color: $neutro-50;
		@include l-border;
		.default__title {
			margin-bottom: 32px;
		}
		.contact__form {
			padding: 0px;
			border-radius: 0px;
		}
		.input_wrap {
			width: 100%;
			input {
				width: 100%;
				max-width: 100%;
			}
		}
		button {
			display: block;
			width: 100%;
		}
	}
	&__logo {
		margin-bottom: 32px;
		@include media(s) {
			margin-bottom: 24px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__img {
		max-width: 645px;
		width: 100%;
		height: auto;
		@include media(s) {
			display: none;
		}
		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;

			@include l-border;
		}
	}
	&__content {
		max-width: 570px;
		padding-top: 32px;
		.button--container {
			display: flex;
			gap: 16px;
			@include media(s) {
				gap: 8px;
			}
		}
		.button.no-color {
			color: $neutro-50;
		}
	}
	&__title {
		@include hero;
		margin-bottom: 16px;
		font-size: 40px;
		line-height: 48px;
		@include media(s) {
			font-size: 32px;
			line-height: 36px;
		}
	}
	.default__desc {
		margin-bottom: 32px;
	}
}
.resources {
	padding: 80px 0px;
	&.icons {
		background-color: #002daf;
		.resources__content {
			width: 100%;
		}
		.default__title {
			color: #fff;
		}
		.default__desc {
			margin: 42px auto;
			color: #ffffff29;
			max-width: 832px;
			color: #fff;
			text-align: center;
		}
		.card-resources {
			height: 285px;
			width: 100%;
			max-width: 352px;
			background-color: #fff;
			&__icon {
				background-color: #f6f6f6;
				width: 100%;
				text-align: center;
			}
			.default__desc {
				color: #383838;
				font-size: 15px;
				line-height: 120%;
				margin-top: 16px;
				b {
					margin-top: 12px;
				}
				span {
					font-weight: 700;
				}
			}
		}
	}
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.tag {
			background-color: #383838;
			&__text {
				color: #fff;
				@include media(s) {
					font-size: 14px;
				}
			}
		}
		@include media(s) {
			padding: 0 24px;
		}
	}
	.default__title {
		color: $cor-primaria;
		margin: 16px 0px;
		max-width: 996px;
		text-align: center;
		@include media(s) {
			text-align: left;
			font-size: 24px;
		}
	}
	.default__desc {
		color: $texto-legenda;
		margin-bottom: 32px;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
		color: #383838;
	}
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		flex-wrap: wrap;
		@include container;
		margin: 42px 0;
		.card-resources {
			background-color: #f6f6f6;
			height: 380px;
			.default__desc {
				font-size: 16px;
				b {
					display: block;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%; /* 30px */
					text-transform: uppercase;
					color: #002daf;
				}
				br {
					height: 12px;
					display: block;
				}
			}
		}
	}
}
.benefits {
	background-color: #1464f5;
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 0px;
	}
	.default__title {
		color: #fff;
		max-width: 570px;
	}
	&__container {
		@include container;
		display: flex;
		align-items: center;
		gap: 58px;
		.tag {
			background-color: rgba(255, 255, 255, 0.2);
			&__text {
				color: #fff;
				text-transform: unset;
			}
		}
		@include media(s) {
			flex-direction: column;
		}
	}
	&__side {
		max-width: 610px;
		width: 100%;
		@include media(s) {
			display: none;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__content {
		@include media(s) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			display: flex;
			padding: 0 24px;
		}
	}
	.default__title {
		margin: 24px 0px;
	}
	.default__desc {
		color: #fff;
		margin-bottom: 24px;
		@include media(s) {
			text-align: center;
		}
	}
	&__list {
		list-style: none;
		padding: 0;
		&--item {
			display: flex;
			align-items: center;
			margin-bottom: 16px;
		}
		&--text {
			@include text;
			color: #fff;
			margin-left: 12px;
		}
	}
}

.testimonials {
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include container;

		@include media(s) {
			padding: 0px 24px;
		}
		.tag {
			display: inline-block;
		}
		.default__title {
			margin: 24px 0px;
		}
		.default__desc {
			color: $texto-legenda;
			margin-bottom: 48px;
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 24px;
		margin-bottom: 48px;
	}
	&__card {
		max-width: 397px;
		padding: 32px 40px;
		@include s-border;
		border: 1px solid #f6f6f6;
		@include l-shadow;
		&--text {
			@include text;
			color: $texto-resources;
			margin-bottom: 24px;
		}
	}
}
.contact {
	background-color: $cor-primaria;
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		@include container;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 120px;
		@include media(s) {
			padding: 0 24px;
		}
		.default__title {
			color: $neutro-50;
			text-align: left;
			margin: 24px 0px;
			font-size: 32px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
			b {
				font-size: 40px;
				line-height: 48px;
				@include media(s) {
					font-size: 26px;
					line-height: 30px;
					margin-bottom: 16px;
					display: block;
				}
			}
			@include media(s) {
				font-size: 20px;
				line-height: 24px;
				text-align: left;
				margin: 0;
				margin-bottom: 16px;
				br {
					display: none;
				}
			}
		}
		.default__desc {
			color: $neutro-50;
			text-align: left;
			margin-bottom: 64px;
			@include media(s) {
				margin-bottom: 40px;
				text-align: left;
			}
		}
		.tag {
			background-color: rgba(255, 255, 255, 0.16);
			&__text {
				color: $neutro-50;
			}
		}
	}
	&__form {
		max-width: 450px;
		width: 100%;
		display: flex;
		gap: 16px;
		background-color: #fff;
		padding: 64px;
		flex-wrap: wrap;
		@include media(s) {
			padding: 32px;
		}
		.form-gap {
			flex-wrap: wrap;
		}
		@include l-border;
		input {
			width: 322px;
		}
		.button {
			border: none;
			width: 100%;
			@include media(s) {
				width: 100%;
			}
		}
	}
}

.faq {
	padding: 80px 0px;
	&__container {
		@include container;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		gap: 24px;
		@include media(s) {
			flex-direction: column;
			padding: 0px 24px;
			align-items: center;
			justify-content: center;
			gap: 48px;
		}
	}
	&__side {
		max-width: 576px;
		text-align: center;
		@include media(s) {
			display: flex;
			justify-content: start;
			align-items: start;
			flex-direction: column;
			text-align: left;
		}
		.default__title {
			margin: 24px 0px;
			@include media(s) {
				text-align: left;
				margin-bottom: 0;
			}
		}
		.default__desc {
			margin-bottom: 83px;
			@include media(s) {
				margin-bottom: 40px;
			}
		}
	}
	&__content {
		@include container;
		width: 100%;
		.accordion {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			&-item {
				border: none;
				width: 100%;
				max-width: 576px;
				background-color: #f6f6f6;
				&:last-child {
					margin-bottom: 0px;
				}
			}
			&-body {
				@include text;
			}
			&-header {
			}
			&-button {
				color: $texto-resources;
				@include text;
				background-color: #f6f6f6;

				&:focus {
					border: none;
					box-shadow: none;
				}
				&:not(.collapsed) {
					color: #1464f5;
					font-weight: bold;
					background-color: #f6f6f6;
				}
				&::after {
					width: 10px;
					height: 6px;
					background-image: url("../assets/seta.svg");
					background-size: unset;
				}
			}
		}
	}
}

.footer {
	background-color: #323232;
	padding: 48px 0px;
	color: $neutro-50;
	@include media(s) {
		padding: 48px 24px;
	}
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.default__desc {
		@include media(s) {
			text-align: center;
		}
	}
	&__logo {
		text-align: center;
		width: 100%;
		margin-bottom: 24px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}
