<section class="benefits">
	<div class="benefits__container">
		<div class="benefits__side" data-aos="fade-right" data-aos-delay="300">
			<img src="./assets/fiesta.png" alt="" />
		</div>
		<div class="benefits__content">
			<div class="tag" data-aos="fade-left" data-aos-delay="300">
				<p class="tag__text">Por que escolher o Auto Service Motors?</p>
			</div>
			<h3 class="default__title" data-aos="fade-left" data-aos-delay="300">A maneira inteligente de gerenciar seus veículos</h3>

			<ul class="benefits__list">
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="300">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Busque oficinas próximas que oferecem o melhor preço para a sua necessidade</p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="400">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Agende e pague pelos serviços diretamente pelo app</p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="500">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Verifique as avaliações de satisfação dos usuários para cada oficina </p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="600">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">
						Conte com a expertise de quem tem mais de 30 anos de história em gestão de frotas e tem parceria com mais de 9.000 oficinas no país todo
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>
