<section class="contact">
	<div class="contact__container">
		<h3 class="default__title">
			<b>Cancelamento do vínculo</b><br />
			Usuários Auto Service Motors contam com facilidade e praticidade<br />
			para encerrar seus vínculos quando necessário.
		</h3>
		<p class="default__desc">Para solicitar a exclusão dos seus dados, insira as informações abaixo.</p>
		<form action="" class="contact__form">
			<div class="form-gap">
				<div class="input_wrap">
					<input type="text" required />
					<label><img src="./assets/person.svg" alt="" /> Nome*</label>
				</div>
				<div class="input_wrap">
					<input type="email" required />
					<label><img src="./assets/mail.svg" alt="" /> E-mail*</label>
				</div>
				<div class="input_wrap">
					<input type="tel" required />
					<label><img src="./assets/cpf.svg" alt="" /> CPF*</label>
				</div>
			</div>
			<button type="submit" class="button">solicitar cancelamento</button>
		</form>
	</div>
</section>
