<section class="faq">
	<div class="faq__container">
		<div class="faq__side">
			<div class="tag">
				<p class="tag__text">faq</p>
			</div>
			<h3 class="default__title">Perguntas mais frequentes</h3>
		</div>
		<div class="faq__content">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button
							class="accordion-button"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							Como posso começar a usar o Auto Service Motors?
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Começar é fácil! Faça o download do aplicativo e complete o processo de cadastro utilizando sua rede social favorita ou um endereço de email. Após
							isso, você pode adicionar seu veículo ao app e começar a explorar todos os recursos disponíveis.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							Preciso ter algum conhecimento específico para usar o app?
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Não, o Auto Service Motors foi desenvolvido pensando na simplicidade e na usabilidade. Seja você um entusiasta automotivo ou simplesmente alguém
							buscando uma maneira fácil de gerenciar a manutenção do seu carro, o app é intuitivo e fácil de navegar.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							Como funcionam os agendamentos de manutenção pelo app?
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Após adicionar seu veículo ao Auto Service Motors, você pode agendar manutenções preventivas ou corretivas com apenas alguns cliques. O app
							permite selecionar a oficina de sua preferência, a data e o tipo de serviço necessário, além de fornecer um diagnóstico visual para manutenções
							corretivas.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFour">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseFour"
							aria-expanded="false"
							aria-controls="collapseFour"
						>
							Posso gerenciar mais de um veículo no app?
						</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Com certeza! O Auto Service Motors permite que você adicione e gerencie múltiplos veículos em sua conta. Isso facilita o controle das manutenções
							e serviços para famílias com mais de um carro ou para profissionais que gerenciam pequenas frotas de veículos.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFive">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseFive"
							aria-expanded="false"
							aria-controls="collapseFive"
						>
							Existem recursos para acompanhamento das manutenções?
						</button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Sim, o app oferece uma seção dedicada onde você pode acompanhar todas as manutenções agendadas, em andamento e concluídas. Além disso, você tem
							acesso ao histórico completo de serviços realizados em cada veículo cadastrado, incluindo detalhes das ordens de serviço e informações de
							faturamento.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSix">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseSix"
							aria-expanded="false"
							aria-controls="collapseSix"
						>
							Como posso atualizar meus dados cadastrais no app?
						</button>
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Atualizar seus dados é simples. Acesse as configurações do seu perfil no Auto Service Motors e você poderá editar suas informações pessoais,
							incluindo contatos e detalhes dos veículos, garantindo que tudo esteja sempre atualizado.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
