<section class="resources icons">
	<div class="resources__container">
		<h2 class="default__title" data-aos="fade-down" data-aos-delay="300">Uma solução da TFleet</h2>
		<p class="default__desc" data-aos="fade-down" data-aos-delay="300">
			Com 30 anos de atuação, a TFleet é uma empresa especializada em soluções personalizadas para gestão de frotas e veículos. 
			<br /><br />Isso significa ampla experiência em atender as mais diversas necessidades e a conquista da confiança dos clientes de todos os portes e
			variados segmentos.
		</p>

		<div class="resources__content">
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/prancheta.svg" alt="" /></div>
				<p class="default__desc">
					Pensamos nos detalhes
					<b>+ 100 MIL CARROS</b>
					<span>GERENCIADOS</span>
				</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="400">
				<div class="card-resources__icon"><img src="./assets/hands.svg" alt="" /></div>
				<p class="default__desc">
					Desenvolvemos soluções <br />personalizadas
					<b>+ DE 30 ANOS</b>
					<span>DE HISTÓRIA</span>
				</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="500">
				<div class="card-resources__icon"><img src="./assets/bars.svg" alt="" /></div>
				<p class="default__desc">
					Apresentamos resultados reais
					<b>+ 10 mil</b>
					<span>OFICINAS CREDENCIADAS</span>
				</p>
			</div>
		</div>
	</div>
</section>
